.ChatBot {
  height: 100%;
}

.input-message {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
}


@media (max-width: 1440px) {
  .grid-container {

    /* Set the height to 100vh on mobile */
  }

  .image-column {
    display: none;
  }
}


.card {
  padding: 2em;
}
